.heroWrapper {

    background: 
   
    url(https://images.unsplash.com/photo-1526677504211-233c8477c61b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9)
     no-repeat
      center 
      center 
      /cover;
   
   
  


}


.headerText {
    text-align: center;
    letter-spacing: 2px;
    color : #fff;
    padding : 20px;
}

.headerParagraph {
    text-align: center;
    color : #fff;
    
    font-size: 13px;
    padding :3px;
    letter-spacing: 0.8px;
}