.wrapper {

    background: 
   
    url(https://images.unsplash.com/photo-1536437365889-d32f3d21b356?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80)
     no-repeat
      center 
      center 
      /cover;
   
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
  

}