
.formWrapper {
    /* border: 1px solid white; */
    padding: 60px;
    margin : 10px;
    
    
    /* display: flex;
    justify-content: center; */
    /* background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    /* border-radius: 10px; */ 
    border-radius: 6px;
    background  : white;
    
}

.formWrapper h4 {
    letter-spacing: 2px;
}



.textHead {
    font-size: 14px;
    letter-spacing: 1px;
}

@media (min-width: 320px) and (max-width: 480px) {
  
    .textHead {
        font-size: 10px;
        letter-spacing: 0.5px;
    }
   
  }

