.footerClean {

    color : #fff;
   
    padding : 50px 0;
  


}

.footerClean h3 {
    margin-top : 0;
    margin-bottom: 12px;
    font-weight: bold ;
    font-size: 16px;
    color : #fff;
}

.item { 
  font-size:30px;
  display:inline-block;
  text-align:center;
  margin-left:20px;
  color:inherit;

}

.copyright {

    margin-top:14px;
    margin-bottom:0;
    font-size:13px;
    letter-spacing: 1px;
    

}

.companyLink {
    text-decoration: none;
    color : grey;
}